@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
	--color-fondo: rgb(141, 141, 141);
	--color-header: rgb(255, 255, 255);
	--color-buscador: rgb(228, 227, 227);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Quicksand', sans-serif;
	width: 100%;
	height: 100vh;
	background-color: var(--color-fondo);
}

header {
	width: 100%;
	height: 60px;
	background-color: var(--color-header);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
}

header ul {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.nav li:hover{
	background-color: #ff6600;
	height: 100%;
	color: white;
	border-radius: 10px;
	padding: 10px;
}

header ul li img {
	height: 20px;
	display: block;
}

ul li{
	font-size: 15px;
}

.logo {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

.logo img {
	width: 70px;
	height: 50px;
}

.buscador {
	width: 300px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px 0px 0px 10px;
	border: 1px solid var(--color-buscador);
	margin-right: 50px;	
}

.buscador-movil{
	width: 210px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	padding-bottom: 25px;
    padding-top: 15px;
}

.buscador-movil input {
	border-radius: 0px 10px 10px 0px;
	border: none;
	outline: none;
}

.buscador input {
	width: 100%;
	height: 100%;
	border-radius: 0px 10px 10px 0px;
	border: none;
	outline: none;
}

.buscador img {
	width: 80%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.nav {
	display: flex;
	gap: 20px;
	list-style: none;
}

.nav li {
	display: flex;
	align-items: center;
	gap: 8px;
}

.nav li img {
	height: 20px;
}

#menu-toggle {
	display: none;
}

#menu-toggle2 {
	display: none;
}

.menu-hamburguesa {
	display: none;
	font-size: 30px;
	cursor: pointer;
	position: sticky;
	right: 900px;
}

.menu-movil {
	position: fixed;
	top: 0;
	left: -100%;
	width: 250px;
	height: 100vh;
	background: var(--color-header);
	box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
	transition: left 0.3s ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 25px;
	z-index: 2;
}

.menu-movil::after{
	content: "";
    top: -8px; 
    left: 0;
    width: 100%;
    height: 1px; 
    background-color: gray;
	margin-bottom: 350px;
}

.menu-movil ul {
	list-style: none;
	width: 100%;
	text-align: center;
	margin-bottom: 7px;
}

.menu-movil li {
	width: 300px;
	padding: 15px;
	font-size: 15px;
	display: flex;
	align-items: center;
	position: relative;
}

.menu-movil li:hover{
	background-color: #ff6600;
	height: 20%;
	color: white;
}

.menu-movil li::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: gray;
}

.atras {
	width: 30px;
	margin-right: 185px;	
	cursor: pointer;
}

.atras-ico {
	width: 30px;
	padding-bottom: 30px;
}

.lupa {
	width: 20px;
}

.carrito-menu{
	width: 200px;
}

#menu-toggle:checked + .menu-hamburguesa + .menu-movil {
	left: 0;
}

.toggle-cart {
    display: none;
}

.cart {
    width: 50px;
    height: 25px;
    cursor: pointer;
    right: 20px;
	position: relative;
}

.cart p{
	width: 15px;
	height: 15px;
	background-color: #cc5200;
	position: absolute;
	display: flex;
	justify-content: center;
	border-radius: 50%;
	color: white;
	font-size: 10px;
}

.cart img {
    width: 100%;
    height: 100%;
}

.cart-dropdown {
    position: fixed;
    top: 130px;
    right: 5px;
    width: 200px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: none;
    border-radius: 5px;
	z-index: 5;
}

.toggle-cart:checked + .cart + .cart-dropdown {
    display: block;
}

.user{
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	padding: 3px;
	border-radius: 50%;
}

.user p{
	font-size: 15px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.726);
	margin-right: 10px;
}

.banner-header{
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px;
	justify-content: space-between;
	margin-left: 10px;
}

.banner-informacion h2{
	font-size: 15px;
}

.banner-informacion p{
	font-size: 10px;
}

.banner-informacion  img{
	margin-left: 70px;
}

.redes-sociales{
	display: flex;
	align-items: center;
	padding: 10px;
	gap: 10px;
}

main{
	width: 100%;
	height: 100%;
	position: absolute;
}

.carousel {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.carousel-inner {
    display: flex;
    width: 110%;
    animation: slide 30s infinite;
}

.slide {
    width: 100%;
    flex: 0 0 100%;
    position: relative;
}

.slide img {
    width: 1920px;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    top: 35%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 50px;
	background-color: rgba(0, 0, 0, 0.24);
	border-radius: 20px;
}

.text-overlay h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text-overlay p {
    font-size: 16px;
    margin-bottom: 20px;
}

.text-overlay button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.text-overlay button:hover {
    background-color: #cc5200;
}

@keyframes slide {
    0% { transform: translateX(0%); }
    25% { transform: translateX(0%); }
    30% { transform: translateX(-100%); }
    55% { transform: translateX(-100%); }
    60% { transform: translateX(-200%); }
    85% { transform: translateX(-200%); }
    90% { transform: translateX(-300%); }
    100% { transform: translateX(-300%); }
}

.contenedor-carousel{
	width: 100%;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background-color: var(--color-header)
}

.targeta-carousel{
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-header);
	flex-wrap: wrap;
	gap: 10px;
}

.targeta-carousel {
    flex: 0 0 auto;
    width: 250px;
    padding: 15px;
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    scroll-snap-align: center;
	margin: 25px;
}

.targeta-carousel img {
    width: 60px;
    margin-top: 20px;
}

.targeta-carousel h2 {
    font-size: 18px;
}

.targeta-carousel p {
    font-size: 12px;
    margin-left: 0; 
	margin-bottom: 20px;
}

.contenedor-carousel {
    display: flex;
	height: 200px;
    gap: 15px;
    overflow-Y: hidden;
    scroll-snap-type: x mandatory;
    padding: 10px;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.targeta-productos {
    flex: 0 0 auto;
    width: 250px;
	height: 270px;
    padding: 15px;
    background: white;
    border-radius: 10px;
    text-align: center;
	margin: 25px;
	box-shadow: 3px 20px 10px rgba(0, 0, 0, 0.5);
}

.targeta-productos img {
    width: 100px; 
	height: 100px;
    margin-top: 20px;
}

.targeta-productos h2 {
    font-size: 18px;
}

.targeta-productos p {
    font-size: 12px;
    margin-left: 0; 
	margin-bottom: 20px;
}

.contenedor-productos {
    display: flex;
	height: 300px;
    gap: 15px;
    overflow-Y: hidden;
    padding: 10px;
}

.ver-producto{
	width: 130px;
	height: 35px;
	background-color: #ff6600;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	margin-left: 45px;
	margin-top: -7px;
}

.ver-producto h2{
	font-size: 15px;
	color: white;
	font-weight: 600;
}

.imagen-footer img{
	width: 100%;
	margin-top: 40px;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-menu {
    flex: 1;
}

.footer-menu h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu ul li {
    margin-bottom: 8px;
}

.footer-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer-menu ul li a:hover {
    text-decoration: underline;
}

.footer-map {
    flex: 0.4
}

.footer-map h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-map iframe {
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

.footer-bottom {
    text-align: center;
    margin-top: 0px;
    font-size: 14px;
}

.footer-bottom p {
	margin: 0;
}

@media (max-width: 1024px) {
	.header ul {
		gap: 30px;
	}

	.buscador {
		width: 250px;
	}

	.logo {
		margin-left: 50px;
	}

	.buscador input {
		height: 40px;
	}
}

@media (max-width: 770px) {
	.carousel {
        display: none;
	}
	.header ul {
		gap: 20px;
		justify-content: flex-start;
	}

	.buscador {
		width: 20px;
	}
	.buscador input{
		width: 220px;
	}

	.buscador input {
		height: 40px;
	}

	.contenedor-carousel {
        flex-direction: row;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        padding: 0px;
	}

	.menu-hamburguesa {
        display: block;
    }

	.menu-movil {
		width: 100%;
	}

	.menu-movil ul {
		width: 100%;
	}

	.menu-movil li {
		width: 100%;
		padding: 20px;
	}

	.cart {
		display: none;
	}
}
